.home-bg{
    background: url('../../Images/home-bg.png');
    min-height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: whitesmoke;
    padding: 10px;
    transition: 0.4s;
}

.social-media .icon:hover{
    background-color: whitesmoke;
    color: #0E0018;
    border-radius: 4px;
}

.profile-img{
    border: 3px solid whitesmoke;
    border-radius: 50%;
    padding: 10px;
}

.profile-img img{
    max-width: 300px;
}

.text-color{
    color: rgb(0, 110, 255);
    transition: 0.4s;
    cursor: pointer;
    font-weight: bold;
}

.text-color:hover{
    color: whitesmoke;
}

.btn-color-one{
    color: whitesmoke;
    transition: 0.4s;
    padding: 10px;
    border: 2px solid rgba(153, 205, 50, 0.733);
    border-radius: 5px;
}

.btn-color-two{
    color: whitesmoke;
    transition: 0.4s;
    padding: 10px;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 5px;
}

.btn-color-three{
    color: whitesmoke;
    transition: 0.4s;
    padding: 10px;
    background-color: rgb(0, 110, 255);
    border-radius: 5px;
    border: none;
}


.btn-color-one:hover{
    color: whitesmoke;
    background-color: rgba(153, 205, 50, 0.733);
}

.btn-color-two:hover{
    color: whitesmoke;
    background-color: rgb(0, 110, 255);
}

.btn-color-three:hover{
    color: white;
    background-color: rgb(65, 147, 255);
}

