.nav-bg{
  background-color: #0E0018;
}

a.left-underline
{
    position: relative;
    margin-right: 20px;
}

a.left-underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left-underline:hover:before {
  visibility: visible;
  width: 100%;
}

.logo{
  font-weight: 900;
  font-style: initial;
  font-size: large;
}